body{
    background-color: blueviolet;
}

h1{
    color:white;
}

.titulo{
    color: black;
}

div{
    background-color: tomato;
}

.parrafo{
    background-color: teal;
}

#ricardo{
    background-color: yellow;
}