{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">Informacion de la Cuenta</h2>
                <p class="text-secondary account-email">{{current_user.email}}</p>
                <p class="text-secondary">{{current_user.name}} {{current_user.apellido}}</p>
            </div>
        </div>
        <div class="registrarse account-reg">
            <form method="POST" action="">
              {{form.hidden_tag()}}
                <h3>Información Personal</h3>
                <div class="fieldset">   
                    <div class="form-group">
                      <span>{{form.email.label}} </span>
                      <div class="input-error">
                      {% if form.email.errors %}
                      {{ form.email(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.email.errors%}
                          <span class="error">{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %}
                        {{form.email(class="form-control form-control-lg")}}
                      {% endif %}
                    </div>
                    </div>
                </div>
    
                <h3>Direccion</h3>
                <div class="fieldset">
                    <div class="form-group">
                    <span>{{form.direccion.label}}</span>
                    <div class="input-error">
                    {% if form.direccion.errors %}
                    {{ form.direccion(class="form-control form-control-lg is-invalid")  }}
                    <div class="invalid-feedback">
                      {% for error in form.direccion.errors%}
                        <span class="error">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                      {{form.direccion(class="form-control form-control-lg")}}
                    {% endif %}
                    </div>
                    </div>
                    <div class="form-group">
                    <span>{{form.provincia.label}}</span>
                    <div class="input-error">
                    {% if form.provincia.errors %}
                    {{ form.provincia(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.provincia.errors%}
                        <span class="error">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                      {{form.provincia(class="form-control form-control-lg")}}
                    {% endif %}
                    </div>
                    </div>
                    <div class="form-group">
                    <span>{{form.pais.label}}</span>
                    <div class="input-error">
                    {% if form.pais.errors %}
                    {{ form.pais(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.pais.errors%}
                        <span class="error">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                      {{form.pais(class="form-control form-control-lg")}}
                    {% endif %}
                    </div>
                    </div>
                </div>
                <h3>Telefono</h3>
                <div class="fieldset">
                    <div class="form-group">
                    <span>{{form.telefono.label}}</span>
                    <div class="input-error">
                    {% if form.telefono.errors %}
                    {{ form.telefono(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.telefono.errors%}
                        <span class="error">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                      {{form.telefono(class="form-control form-control-lg")}}
                    {% endif %}
                    </div>
                    </div>
                </div>
                <h3>Información del Atleta</h3>
                <div class="fieldset">
                    <div class="form-group">
                    <span>{{form.belt.label}}</span>
                    <div class="input-error">
                    {% if form.belt.errors %}
                    {{ form.belt(class="form-control form-control-lg is-invalid", id="belt") }}
                    <div class="invalid-feedback">
                      {% for error in form.belt.errors%}
                        <span class="error">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                      {{form.belt(class="form-control form-control-lg", id="belt")}}
                    {% endif %}
                    </div>
                    </div>
    
                    <div class="form-group">
                    <span>{{form.academia.label}}</span>
                    <div class="input-error">
                    {% if form.academia.errors %}
                    {{ form.academia(class="form-control form-control-lg is-invalid", id="academia") }}
                    <div class="invalid-feedback">
                      {% for error in form.academia.errors%}
                        <span class="error">{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                      {{form.academia(class="form-control form-control-lg", id="academia")}}
                    {% endif %}
                    </div>
                    </div>
                </div> 
                <div class="submit-btn">
                    {{form.submit(id="reg-form")}}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}