{% extends "base.html" %}

{% block content %}
    {% for academy in dicts %}
        <h3>academy[1]</h3>
        <table class="ranking-table">
            <thead>
                <tr>        
                    <th class="name-left">Division}</th>
                    <th>Name</th>                          
                </tr>
            </thead>
            <tbody>
                {% for atleta in dicts[academy]%}
                    <tr>
                        <td class="atleta-left">{{atleta[1]}}/{{atleta[2]}}/{{atleta[3]}}/{{atleta[4]}}</td>
                        <td class="atleta-right">{{atleta[0]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endblock %} 