{% extends "base.html" %}

{% block content %}
    <h2 class="list-title">Lista de Atletas por equipo</h2>
    <hr>
    {% for academy in dicts %}
        <h3 class="atletas-header age-division">{{academy}}</h3>
        <table class="ranking-table">
            <thead>
                <tr>        
                    <th class="name-left">Division</th>
                    <th>Nombre</th>                          
                </tr>
            </thead>
            <tbody>
                {% for atleta in dicts[academy]%}
                    <tr>
                        <td class="atleta-left">{{atleta[1]}}/{{atleta[2]}}/{{atleta[3]}}/{{atleta[4]}}</td>
                        <td class="atleta-right">{{atleta[0]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endblock %} 