{% extends "base.html" %}

{% block content %}
    <div class="evento">
        <img src="https://cdn.glitch.com/7f77c198-4426-4d11-8865-87dbbd235060%2F158257092_3927140210639858_7793426015501806585_o.png?v=1616803193883">
    </div>
    <div class="protocolo">
        <h2 class="date-h2">20 - 21 de Marzo</h2>
        <hr>
        <div class="covid-rules">
            <p>IBJJF Safety Protocol for Covid - 19
                <br>
                <br>
                Due to the ever changing situations during this time, we are always evaluating on a day-to-day basis the health issues and local or federal orders in regards to contact sports.
                <br>
                <br>
                In the case of a forced event cancellation, all registration fees will be automatically refunded.
                <br>
                <br>
                If you feel uncomfortable in light of the Covid -19 safety issues, your registration can be canceled and refunded if requested before the registration deadline. 
                <br>
                <br>
                The organization is not responsible for the participants other expenses such as, but not limited to; transportation and lodging.
                <br>
                <br>
                Venue Guidelines:
                <br>
                <br>
                Competitors can only enter the venue the day they are competing.
                <br>
                <br>
                Every athlete is eligible to bring ONE coach or companion; no other spectators will be allowed. They must enter the venue with the competitor.
                <br>
                <br>
                For the sake of all competitors and staff, please check your temperature BEFORE coming to the event. If there are any signs of symptoms or high temperature, please remain at home and contact your health provider. This is extremely important for everyone involved.
                <br>
                <br>
                If you are currently sick or have been exposed to someone that has tested positive for COVID- 19, please stay at home and contact your health provider.
                <br>
                <br>
                All of our equipment will be properly sanitized prior to and during the event throughout the day. 
                <br>
                <br>
                Masks or face shields will be required to be worn inside the building and can only be removed for your matches.
            </p>
        </div>
    </div>
    <div class="info">
        <div class="column">
            <h2>Ubicacion</h2>
            <p>
                Salinas
                <br>
                Polideportivo Benjamin Carrion
            </p>
        </div>

        <div class="column">
            <h2>Precio</h2>
            <p>$40 USD</p>
            <h3>Tarifa de Expectador</h3>
            <p>Los competidores pueden solo asistir el dia que compiten.
                <br>
                Los expectadores deberan pagar un valor de $10 USD y realizarse una prueba rapida de COVID-19
            </p>
        </div>

        <div class="column3">
            <a href="#" role="button" target="_blank" class="info-btn">HORARIO</a>
            <a href="#" role="button" target="_blank" class="info-btn">LISTA DE ATLETAS POR EQUIPO</a>
            <a href="{{url_for('atletas_table')}}" role="button" target="_blank" class="info-btn">LISTA DE ATLETAS POR DIVISION</a>
            <a href="#" role="button" target="_blank" class="info-btn">TABLA DE PESOS</a>
            <a href="#" role="button" target="_blank" class="info-btn">PESAJE</a>
            <a href="#" role="button" target="_blank" class="info-btn">RESULTADOS</a>
        </div>
    </div>
    <a href="{{url_for('event_reg1')}}" role="button" class="info-btn reg-btn">REGISTRARSE AHORA</a>
    <h2 class="event-h2">Divisiones de Edad y Cintas</h2>
    <div class="ranking"></h2>
        <div class="rank">
          <h3>
            Masculino
           </h3>
            <table class="content-table">
                <thead>
                  <tr>
                    <th>Ano de Nacimiento</th>
                    <th>Division de Edad</th>
                    <th>Cinta</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Entre 2005 y 2015</td>
                    <td>Infantil</td>
                    <td>Blanca y Coloridas</td>
                  </tr>
                  <tr>
                    <td>Entre 2009 y 2006</td>
                    <td>Infanto Juvenil</td>
                    <td>Blanca y Coloridas</td>
                  </tr>
                  <tr>
                    <td>Entre 2004 y 2005</td>
                    <td>Juvenil</td>
                    <td>Blanca, Coloridas y Azul</td>
                  </tr>
                  <tr>
                    <td>2003 y antes</td>
                    <td>Adulto</td>
                    <td>Blanca, Azul, Violeta, Marron, Negra</td>
                  </tr>
                  <tr>
                    <td>1991 y antes</td>
                    <td>Master</td>
                    <td>Blanca, Azul, Violeta, Marron, Negra</td>
                  </tr>
                </tbody>
                </table>
              </div>
              <div class="rank">
                <h3>
                  Femenino
                 </h3>
                <table class="content-table">
                    <thead>
                      <tr>
                        <th>Ano de Nacimiento</th>
                        <th>Division de Edad</th>
                        <th>Cinta</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Entre 2005 y 2015</td>
                        <td>Infantil</td>
                        <td>Blanca y Coloridas</td>
                      </tr>
                      <tr>
                        <td>Entre 2009 y 2006</td>
                        <td>Infanto Juvenil</td>
                        <td>Blanca y Coloridas</td>
                      </tr>
                      <tr>
                        <td>Entre 2004 y 2005</td>
                        <td>Juvenil</td>
                        <td>Blanca, Coloridas y Azul</td>
                      </tr>
                      <tr>
                        <td>2003 y antes</td>
                        <td>Adulto</td>
                        <td>Blanca, Azul y Violeta</td>
                      </tr>
                    </tbody>
                    </table>
                  </div>
        </div>
{% endblock %} 