<!DOCTYPE html>
<html>

<head>
    <title> CEBJJ</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles3.css"/>
</head>
<body>
   <h1 class="titulo">Ensenandole a Ricardo a programar</h1>
   <div class="parrafo" id="ricardo">
      <p>Hola esta es la primera  clase de ricardp con juan antonio online desde texas </p>
   </div>
   <div class="compra">
      <label>Marihuana:</label>
     <select class="tipos">
        <option>Kush</option>
        <option>mango</option>
        <option>khalifa</option>
     </select>
     
   </div>

</body>
</html>
