{% extends "base.html" %}

{% block content %}
<div id="slider">
    <h2>Siguiente Evento:</h2>
    <figure>
      <a href="{{ url_for('event.evento1') }}"><img src="https://cdn.glitch.com/7f77c198-4426-4d11-8865-87dbbd235060%2F164143041_3980415718645640_4812763748446798749_o.png?v=1616803196415" ></a>
      <!-- <img src="https://cdn.glitch.com/7f77c198-4426-4d11-8865-87dbbd235060%2F146353474_3841298925890654_2871701713717854288_o.png?v=1616803192265" >
      <img src="https://cdn.glitch.com/7f77c198-4426-4d11-8865-87dbbd235060%2F158257092_3927140210639858_7793426015501806585_o.png?v=1616803193883" >
      <img src="https://cdn.glitch.com/7f77c198-4426-4d11-8865-87dbbd235060%2F158257092_3927140210639858_7793426015501806585_o.png?v=1616803193883" > -->
    </figure>
    </div>
  <br>
  <div class="events">
    <h2>
      Proximos Eventos
    </h2>
    <div class="image-area">
      <div class="single-img"><a href="{{ url_for('event.evento1') }}"><img src="https://cdn.glitch.com/9c567fb4-d585-45c3-a06c-32a0528cf2e3%2FGYE.jpg?v=1616896773501" alt=""></a></div>
      <div class="single-img"><a href="#"><img src="https://cdn.glitch.com/9c567fb4-d585-45c3-a06c-32a0528cf2e3%2FOLN.png?v=1616896449681" alt=""></a></div>
      <div class="single-img"><a href="#"><img src="https://cdn.glitch.com/9c567fb4-d585-45c3-a06c-32a0528cf2e3%2FMTN.png?v=1616896453503" alt=""></a></div>
      <div class="single-img"><a href="#"><img src="https://cdn.glitch.com/9c567fb4-d585-45c3-a06c-32a0528cf2e3%2FSLN.png?v=1616896456576" alt=""></a></div>
      <div class="single-img"><a href="#"><img src="https://cdn.glitch.com/9c567fb4-d585-45c3-a06c-32a0528cf2e3%2FSLN.png?v=1616896456576" alt=""></a></div>
      <div class="single-img"><a href="#"><img src="https://cdn.glitch.com/9c567fb4-d585-45c3-a06c-32a0528cf2e3%2FMTN.png?v=1616896453503" alt=""></a></div>
      <div class="single-img"><a href="#"><img src="https://cdn.glitch.com/9c567fb4-d585-45c3-a06c-32a0528cf2e3%2FOLN.png?v=1616896449681" alt=""></a></div>
      <div class="single-img"><a href="#"><img src="https://cdn.glitch.com/9c567fb4-d585-45c3-a06c-32a0528cf2e3%2FGYE.jpg?v=1616896773501" alt=""></a></div>
    </div>
  </div>
  <hr>
  <h2 class="h2rank">Rankings</h2>
  <div class="ranking">

    <div class="rank">
      <h3>
        Masculino Adulto Negra con Kimono
      </h3>
     <table class="content-table">

      <thead>
        <tr>
          <th>Rank</th>
          <th>Atleta</th>
          <th>Puntos</th>
          <th>Equipo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Sebastian Guevara</td>
          <td>100</td>
          <td>Alliance LDE</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Daniel Quintana</td>
          <td>100</td>
          <td>Alliance LDE</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Juan Carlos Lopez</td>
          <td>100</td>
          <td>Alliance LDE</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Ariel Delgado</td>
          <td>100</td>
          <td>Alliance LDE</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Luis Aviles</td>
          <td>100</td>
          <td>Alliance LDE</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Jonathan Barragan</td>
          <td>100</td>
          <td>Alliance LDE</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Nicolas Lora</td>
          <td>100</td>
          <td>Alliance LDE</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Antonio Torres</td>
          <td>100</td>
          <td>Alliance LDE</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Carlos Lopez</td>
          <td>100</td>
          <td>Alliance LDE</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Alan Gumbs</td>
          <td>100</td>
          <td>Alliance LDE</td>
        </tr>
      </tbody>
      </table>
    </div>
   
    <div class="rank">
      <h3>
        Femenino Adulto Violeta con Kimono
      </h3>
      <table class="content-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Atleta</th>
            <th>Puntos</th>
            <th>Equipo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Samantha Saenz</td>
            <td>100</td>
            <td>Alliance LDE</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Sebastian Guevara</td>
            <td>100</td>
            <td>Alliance LDE</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Sebastian Guevara</td>
            <td>100</td>
            <td>Alliance LDE</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Sebastian Guevara</td>
            <td>100</td>
            <td>Alliance LDE</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Sebastian Guevara</td>
            <td>100</td>
            <td>Alliance LDE</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Sebastian Guevara</td>
            <td>100</td>
            <td>Alliance LDE</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Sebastian Guevara</td>
            <td>100</td>
            <td>Alliance LDE</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Sebastian Guevara</td>
            <td>100</td>
            <td>Alliance LDE</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Sebastian Guevara</td>
            <td>100</td>
            <td>Alliance LDE</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Sebastian Guevara</td>
            <td>100</td>
            <td>Alliance LDE</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

{% endblock %}  