<html>

<head>
    <title> CEBJJ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://use.fontawesome.com/dbcdee21c8.js"></script>
</head>
  <body>
    <div class="login">
        <div class="imgBx">
        <img src="{{ url_for('static', filename='login2.jpg') }}">
        </div>
        <div class="contentBx">
            <div class="formBx">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}} ">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                <h2>Iniciar Sesion</h2>
                <form method="POST" action="">
                    {{form.hidden_tag()}}
                    <div class="inputBx">
                        <span>{{form.email.label}} </span>
                        <div class="input-error">
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                              {% for error in form.email.errors%}
                                <span class="error">{{ error }}</span>
                              {% endfor %}
                            </div>
                            {% else %}
                              {{form.email(class="form-control form-control-lg")}}
                            {% endif %}
                          </div>
                    </div>
                    <div class="inputBx">
                        <span>{{form.password.label}}</span>
                        <div class="input-error">
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid")  }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors%}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                              {{form.password(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="remember">
                        {{form.remember(class="form-check-input")}}
                        {{form.remember.label(class="form-check-label")}}
                    </div>
                    <div class="inputBx">
                        {{form.submit}}
                    </div>
                    <div class="inputBx">
                        <p>Miembro Nuevo? <a href="{{ url_for('registrarse')}}">Empieza aqui</a></p>
                    </div>
                    <div class="inputBx">
                        <a href="{{ url_for('reset_request')}}">Olvidaste tu Contraseña? </a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>