{% extends "base.html" %}

{% block content %}
<h2 id="ranking-aca">Ranking por Equipos</h2>
<div class="academies-list">
    <ul class="ranking-aca">
        <li class="puesto">
            <div class="position-aca">1</div>
            <div class="name-aca">Alliance LDE</div>
            <div class="points-aca">
                <span class="title">POINTS</span>
                <span class="subtitle">1000</span>
            </div>
        </li>
        
        <li class="puesto">
            <div class="position-aca">2</div>
            <div class="name-aca">Alfa Association</div>
            <div class="points-aca">
                <span class="title">POINTS</span>
                <span class="subtitle">1000</span>
            </div>
        </li>

        <li class="puesto">
            <div class="position-aca">3</div>
            <div class="name-aca">Predador</div>
            <div class="points-aca">
                <span class="title">POINTS</span>
                <span class="subtitle">1000</span>
            </div>
        </li>

        <li class="puesto">
            <div class="position-aca">4</div>
            <div class="name-aca">Dojo Leo Iturralde</div>
            <div class="points-aca">
                <span class="title">POINTS</span>
                <span class="subtitle">1000</span>
            </div>
        </li>

        <li class="puesto">
            <div class="position-aca">5</div>
            <div class="name-aca">Team Cascagrossa</div>
            <div class="points-aca">
                <span class="title">POINTS</span>
                <span class="subtitle">1000</span>
            </div>
        </li>

        <li class="puesto">
            <div class="position-aca">6</div>
            <div class="name-aca">Studio76</div>
            <div class="points-aca">
                <span class="title">POINTS</span>
                <span class="subtitle">1000</span>
            </div>
        </li>

        <li class="puesto">
            <div class="position-aca">7</div>
            <div class="name-aca">Ludus Beach</div>
            <div class="points-aca">
                <span class="title">POINTS</span>
                <span class="subtitle">1000</span>
            </div>
        </li>

        <li class="puesto">
            <div class="position-aca">8</div>
            <div class="name-aca">Satori</div>
            <div class="points-aca">
                <span class="title">POINTS</span>
                <span class="subtitle">1000</span>
            </div>
        </li>

        <li class="puesto">
            <div class="position-aca">9</div>
            <div class="name-aca">Mantra</div>
            <div class="points-aca">
                <span class="title">POINTS</span>
                <span class="subtitle">1000</span>
            </div>
        </li>

        <li class="puesto">
            <div class="position-aca">10</div>
            <div class="name-aca">Army Salinas</div>
            <div class="points-aca">
                <span class="title">POINTS</span>
                <span class="subtitle">1000</span>
            </div>
        </li>

    </ul>
</div>

{% endblock %} 