{% extends "base.html" %}

{% block content %}

<div class="box">
    <div class="registrarse">
        <form method="POST" action="">
          {{form.hidden_tag()}}
            <h3>Información Personal</h3>
            <div class="fieldset">
              <div class="form-group">
                <span>{{form.name.label}}</span>
                <div class="input-error">
                  {% if form.name.errors %}
                
                  {{ form.name(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.name.errors%}
                      <span class="error">{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{form.name(class="form-control form-control-lg")}}
                {% endif %}
                </div>

                </div>
                <div class="form-group">
                  <span>{{form.last_name.label}}</span>
                  <div class="input-error">
                  {% if form.last_name.errors %}
                  {{ form.last_name(class="form-control form-control-lg is-invalid")  }}
                    <div class="invalid-feedback">
                      {% for error in form.last_name.errors%}
                      <span class="error">{{ error }}</span>
                    {% endfor %}
                    </div>
                  {% else %}
                    {{form.last_name(class="form-control form-control-lg")}}
                  {% endif %}
                </div>
                </div>

                <div class="form-group">
                  <span>{{form.cedula.label}}</span>
                  <div class="input-error">
                  {% if form.cedula.errors %}
                  {{ form.cedula(class="form-control form-control-lg is-invalid")  }}
                    <div class="invalid-feedback">
                      {% for error in form.cedula.errors%}
                      <span class="error">{{ error }}</span>
                    {% endfor %}
                    </div>
                  {% else %}
                    {{form.cedula(class="form-control form-control-lg")}}
                  {% endif %}
                </div>
                </div>

                <div class="date-group">
                  <span>{{form.month.label}}</span>
                <div class="date-selects">
                 <div class="input-error">
                {% if form.month.errors %}
                  {{ form.month(class="form-control form-control-lg is-invalid", id="month") }}
                  <div class="invalid-feedback">
                    {% for error in form.month.errors%}
                      <span class="error">{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{form.month(class="form-control form-control-lg", id="month")}}
                {% endif %}
                </div>
                <div class="input-error">
                {% if form.day.errors %}
                  {{ form.day(class="form-control form-control-lg is-invalid", id="day") }}
                  <div class="invalid-feedback">
                    {% for error in form.day.errors%}
                      <span class="error">{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{form.day(class="form-control form-control-lg", id="day")}}
                {% endif %}
                </div>
                <div class="input-error">
                {% if form.year.errors %}
                  {{ form.year(class="form-control form-control-lg is-invalid", id="year") }}
                  <div class="invalid-feedback">
                    {% for error in form.year.errors%}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{form.year(class="form-control form-control-lg", id="year")}}
                {% endif %}
                </div>
                </div>
                
              </div>
              <div class="form-group">
                <span>{{form.gender.label}}</span>
                <div class="input-error">
                {% if form.gender.errors %}
                {{ form.gender(class="form-control form-control-lg is-invalid", id="genero") }}
                <div class="invalid-feedback">
                  {% for error in form.gender.errors%}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{form.gender(class="form-control form-control-lg", id="genero")}}
                {% endif %}
                </div>
              </div>

                <div class="form-group">
                  <span>{{form.email.label}} </span>
                  <div class="input-error">
                  {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.email.errors%}
                      <span class="error">{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                    {{form.email(class="form-control form-control-lg")}}
                  {% endif %}
                </div>
                </div>
                <div class="form-group">
                <span>{{form.confirm_email.label}}</span>
                <div class="input-error">
                {% if form.confirm_email.errors %}
                {{ form.confirm_email(class="form-control form-control-lg is-invalid")  }}
                <div class="invalid-feedback">
                  {% for error in form.confirm_email.errors%}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{form.confirm_email(class="form-control form-control-lg")}}
                {% endif %}
                </div>
                </div>

                <div class="form-group">
                <span>{{form.nacionality.label}}</span>
                <div class="input-error">
                {% if form.nacionality.errors %}
                {{ form.nacionality(class="form-control form-control-lg is-invalid")  }}
                <div class="invalid-feedback">
                  {% for error in form.nacionality.errors%}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{form.nacionality(class="form-control form-control-lg")}}
                {% endif %}
                </div>
                </div>

                <div class="term-group conf-group">
                  <span>{{form.atleta_conf.label}}</span>
                  <div class="term-input">
                  {% if form.atleta_conf.errors %}
                  {{ form.atleta_conf(class="form-control form-control-lg is-invalid conf", id="conf")  }}
                    <div class="invalid-feedback">
                      {% for error in form.atleta_conf.errors%}
                      <span id="error">{{ error }}</span>
                    {% endfor %}
                    </div>
                  {% else %}
                    {{form.atleta_conf(class="form-control form-control-lg conf", id="conf")}}
                  {% endif %}
                </div>
                </div>

                <div class="term-group conf-group">
                  <span>{{form.profesor_conf.label}}</span>
                  <div class="term-input">
                  {% if form.profesor_conf.errors %}
                  {{ form.profesor_conf(class="form-control form-control-lg is-invalid conf", id="conf")  }}
                    <div class="invalid-feedback">
                      {% for error in form.profesor_conf.errors%}
                      <span id="error">{{ error }}</span>
                    {% endfor %}
                    </div>
                  {% else %}
                    {{form.profesor_conf(class="form-control form-control-lg conf", id="conf")}}
                  {% endif %}
                </div>
                </div>
            </div>

            <h3>Direccion</h3>
            <div class="fieldset">
                <div class="form-group">
                <span>{{form.address.label}}</span>
                <div class="input-error">
                {% if form.address.errors %}
                {{ form.address(class="form-control form-control-lg is-invalid")  }}
                <div class="invalid-feedback">
                  {% for error in form.address.errors%}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{form.address(class="form-control form-control-lg")}}
                {% endif %}
                </div>
                </div>
                <div class="form-group">
                <span>{{form.province.label}}</span>
                <div class="input-error">
                {% if form.province.errors %}
                {{ form.province(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.province.errors%}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{form.province(class="form-control form-control-lg")}}
                {% endif %}
                </div>
                </div>
                <div class="form-group">
                <span>{{form.country.label}}</span>
                <div class="input-error">
                {% if form.country.errors %}
                {{ form.country(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.country.errors%}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{form.country(class="form-control form-control-lg")}}
                {% endif %}
                </div>
                </div>
                <div class="form-group">
                  <span>{{form.city.label}}</span>
                  <div class="input-error">
                  {% if form.city.errors %}
                  {{ form.city(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.city.errors%}
                      <span class="error">{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                    {{form.city(class="form-control form-control-lg")}}
                  {% endif %}
                  </div>
                  </div>
            </div>
            <h3>Telefono</h3>
            <div class="fieldset">
                <div class="form-group">
                <span>{{form.phone.label}}</span>
                <div class="input-error">
                {% if form.phone.errors %}
                {{ form.phone(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.phone.errors%}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{form.phone(class="form-control form-control-lg")}}
                {% endif %}
                </div>
                </div>
            </div>
            <h3>Información del Atleta</h3>
            <div class="fieldset">
                <div class="form-group">
                <span>{{form.belt.label}}</span>
                <div class="input-error">
                {% if form.belt.errors %}
                {{ form.belt(class="form-control form-control-lg is-invalid", id="belt") }}
                <div class="invalid-feedback">
                  {% for error in form.belt.errors%}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{form.belt(class="form-control form-control-lg", id="belt")}}
                {% endif %}
                </div>
                </div>

                <div class="form-group">
                <span>{{form.academy.label}}</span>
                <div class="input-error">
                {% if form.academy.errors %}
                {{ form.academy(class="form-control form-control-lg is-invalid", id="academia") }}
                <div class="invalid-feedback">
                  {% for error in form.academy.errors%}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{form.academy(class="form-control form-control-lg", id="academia")}}
                {% endif %}
                <!-- <select name="academia" id="academia"></select> -->
                </div>
                </div>
            </div>
            <h3>Contrasena</h3>
            <div class="fieldset">
                <div class="form-group">
                <span>{{form.password.label}}</span>
                <div class="input-error">
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid")  }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors%}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{form.password(class="form-control form-control-lg")}}
                {% endif %}
                </div>
                </div>
                <div class="form-group">
                <span>{{form.confirm_password.label}}</span>
                <div class="input-error">
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid")  }}
                <div class="invalid-feedback">
                  {% for error in form.confirm_password.errors%}
                    <span class="error">{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{form.confirm_password(class="form-control form-control-lg")}}
                {% endif %}
                </div>
                </div>
              </div>
            

            <h3>Terminos y Condiciones de uso</h3>
            <div class="fieldset">
                <div class="term-group">
                <span>Terminos y Condiciones de uso</span>
                <div class="term-input">

                  {% if form.terms.errors %}
                  {{ form.terms(class="form-control form-control-lg is-invalid")  }}
                  <div class="invalid-feedback">
                    {% for error in form.terms.errors%}
                      <span class="error">{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                    {{form.terms(class="form-control form-control-lg")}}
                  {% endif %}
                    <label>Acepto los <a>Terminos y condiciones de uso</a></label>
                </div>
                </div>
            </div>
          
            <div class="submit-btn">
                {{form.submit(id="reg-form")}}
                <!-- <input type="submit" id="reg-form" value="Registrarse"> -->
            </div>
        </form>
    </div>
      
      

    </div>

  
  <script>

    window.onload = function(){
      var date = new Date();
      var year =  parseInt(date.getFullYear());
      var yearSelect = document.getElementById("year");
      for(var i = year - 4; i > year - 82; i--){
        let newOption = new Option(i, i);
        yearSelect.add(newOption,undefined);
      }
    }
  </script>

  <script>
    var first = new Array(31);
    var second = new Array(30);
    var third = new Array(29);
    var sixyo = ["Blanco", "Gris"];
    var nineyo = ["Blanco", "Gris", "Amarillo"];
    var twelveyo = ["Blanco", "Gris", "Amarillo", "Naranja"];
    var fifteenyo = ["Blanco", "Gris", "Amarillo", "Naranja", "Verde"];
    var seventeenyo = ["Blanco", "Azul", "Violeta"];
    var eighteenyo = ["Blanco", "Azul", "Violeta", "Marron"];
    var all = ["Blanco", "Azul", "Violeta", "Marron", "Negro"];

    for (i = 1; i < 32; i++) {
      first[i - 1] = i;
    }
    for (i = 1; i < 31; i++) {
      second[i - 1] = i;
    }
    for (i = 1; i < 30; i++) {
      third[i - 1] = i;
    }

    var month = {
      0: first,
      1: third,
      2: first,
      3: second,
      4: first,
      5: second,
      6: first,
      7: first,
      8: second,
      9: first,
      10: second,
      11: first
    };

    var monthSelect = document.getElementById("month");
    var daySelect = document.getElementById("day");
    var yearSelect = document.getElementById("year");
    var beltSelect = document.getElementById("belt");
    var generoSelect = document.getElementById("genero");
    var date = new Date();
    var year =  parseInt(date.getFullYear());
    
    function removeAll(select) {
      while (select.options.length > 1) {
        select.remove(1);
      }
    }

    daySelect.setAttribute("disabled", true)
    beltSelect.setAttribute("disabled", true)

    monthSelect.options[0].setAttribute("disabled", true);
    monthSelect.options[0].setAttribute("selected", true);

    generoSelect.options[0].setAttribute("disabled", true);
    generoSelect.options[0].setAttribute("selected", true);

    daySelect.options[0].setAttribute("disabled", true);
    daySelect.options[0].setAttribute("selected", true);

    yearSelect.options[0].setAttribute("disabled", true);
    yearSelect.options[0].setAttribute("selected", true);
  
    monthSelect.addEventListener("change", function() {
      var selectedOption = month[this.value];

      daySelect.removeAttribute("disabled");
      

      removeAll(daySelect);


      Array.from(selectedOption).forEach(function(el) {
        let option = new Option(el, el);

        daySelect.appendChild(option);
      });
    });

    yearSelect.addEventListener("change", function() {
      var selectedOption2 = yearSelect.options[yearSelect.selectedIndex].value;
      var optionValue = parseInt(selectedOption2)
      
      beltSelect.removeAttribute("disabled");

      removeAll(beltSelect);
      
      if ((year - selectedOption2) <= 6) {
        sixyo.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
      } else if ((year - selectedOption2) <= 9) {
        nineyo.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
        
      } else if ((year - selectedOption2) <= 12) {
        twelveyo.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
        
      } else if ((year - selectedOption2) <= 15) {
        fifteenyo.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
        
        } else if ((year - selectedOption2) <= 17) {
        seventeenyo.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
          
        } else if ((year - selectedOption2) <= 18) {
        eightteenyo.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
      } else {
        all.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
      }
    });
  </script>

{% endblock %} 