{% extends "base.html" %}

{% block content %}

<div class="box">
    <div class="registrarse">
      <h3>Información Personal</h3>
      <div class="fieldset">
        <div class="date-group">
          <span>Fecha de Nacimiento</span>
          <div class="date-selects">
            <select name="month" id="month">
              <option disabled selected>Mes</option>
              <option value="0">Enero</option>
              <option value="1">Febrero</option>
              <option value="2">Marzo</option>
              <option value="3">Abril</option>
              <option value="4">Mayo</option>
              <option value="5">Junio</option>
              <option value="6">Julio</option>
              <option value="7">Agosto</option>
              <option value="8">Septiembre</option>
              <option value="9">Octubre</option>
              <option value="10">Noviembre</option>
              <option value="11">Diciembre</option>
            </select>
            <select name="day" id="day" disabled>
              <option disabled selected>Dia</option>
            </select>
            <select name="year" id="year" >
              <option disabled selected>Año</option>
            </select>
          </div>
          
        </div>
        <div class="form-group">
          <span>Genero</span>
          <select name="genero" id="genero">
            <option value="m">Masculino</option>
            <option value="f">Femenino</option>
          </select>
        </div>

        <div class="form-group">
          <span>Correo Electronico</span>
          <input type="email" name="" />
        </div>
        <div class="form-group">
          <span>Confirmar Correo Electronico</span>
          <input type="email" name="" />
        </div>
        <div class="form-group">
          <span>Nacionalidad</span>
          <input type="text" name="Nacionalidad" id="Nacionalidad" />
        </div>
      </div>

      <h3>Direccion</h3>
      <div class="fieldset">
        <div class="form-group">
          <span>Direccion</span>
          <input type="text" name="" />
        </div>
        <div class="form-group">
          <span>Provincia</span>
          <input type="text" name="" />
        </div>
        <div class="form-group">
          <span>Pais</span>
          <input type="text" name="" />
        </div>
      </div>
      <h3>Telefono</h3>
      <div class="fieldset">
        <div class="form-group">
          <span>Numero de Telefono</span>
          <input type="tel" name="" />
        </div>
      </div>
      <h3>Información del Atleta</h3>
      <div class="fieldset">
        <div class="form-group">
          <span>Cinturon</span>
          <select name="belt" id="belt" disabled>
          <option selected disabled>Cinturon</option>
          </select>
        </div>
        <div class="form-group">
          <span>Academia</span>
          <select name="academia" id="academia"></select>
        </div>
      </div>
      <h3>Contrasena</h3>
      <div class="fieldset">
        <div class="form-group">
          <span>Contrasena</span>
          <input type="password" name="" />
        </div>
        <div class="form-group">
          <span>Confirmar Contrasena</span>
          <input type="password" name="" />
        </div>
      </div>

      <h3>Terminos y Condiciones de uso</h3>
      <div class="fieldset">
        <div class="term-group">
          <span>Terminos y Condiciones de uso</span>
          <div class="term-input">
            <input type="checkbox" name="term" value="1">
            <label>Acepto los <a>Terminos y condiciones de uso</a></label>
          </div>

        </div>
      </div>
      <div class="submit-btn">
        <input type="submit" id="reg-form" value="Registrarse">
      </div>
      

    </div>
  </div>
  
  <script>

    window.onload = function(){
      var date = new Date();
      var year =  parseInt(date.getFullYear());
      var yearSelect = document.getElementById("year");
      for(var i = year - 4; i > year - 82; i--){
        let newOption = new Option(i, i);
        yearSelect.add(newOption,undefined);
      }
    }
  </script>

  <script>
    var first = new Array(31);
    var second = new Array(30);
    var third = new Array(29);
    var sixyo = ["blanco", "gris"];
    var nineyo = ["blanco", "gris", "amarillo"];
    var twelveyo = ["blanco", "gris", "amarillo", "naranja"];
    var fifteenyo = ["blanco", "gris", "amarillo", "naranja", "verde"];
    var seventeenyo = ["blanco", "azul", "violeta"];
    var eighteenyo = ["blanco", "azul", "violeta", "marron"];
    var all = ["blanco", "azul", "violeta", "marron", "negro"];

    for (i = 1; i < 32; i++) {
      first[i - 1] = i;
    }
    for (i = 1; i < 31; i++) {
      second[i - 1] = i;
    }
    for (i = 1; i < 30; i++) {
      third[i - 1] = i;
    }

    var month = {
      0: first,
      1: third,
      2: first,
      3: second,
      4: first,
      5: second,
      6: first,
      7: first,
      8: second,
      9: first,
      10: second,
      11: first
    };

    var monthSelect = document.getElementById("month");
    var daySelect = document.getElementById("day");
    var yearSelect = document.getElementById("year");
    var beltSelect = document.getElementById("belt");
    var date = new Date();
    var year =  parseInt(date.getFullYear());
    
    function removeAll(select) {
      while (select.options.length > 1) {
        select.remove(1);
      }
    }
  
    monthSelect.addEventListener("change", function() {
      var selectedOption = month[this.value];

      daySelect.removeAttribute("disabled");
      

      removeAll(daySelect);


      Array.from(selectedOption).forEach(function(el) {
        let option = new Option(el, el);

        daySelect.appendChild(option);
      });
    });

    yearSelect.addEventListener("change", function() {
      var selectedOption2 = yearSelect.options[yearSelect.selectedIndex].value;
      var optionValue = parseInt(selectedOption2)
      
      beltSelect.removeAttribute("disabled");

      removeAll(beltSelect);
      
      if ((year - selectedOption2) <= 6) {
        sixyo.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
      } else if ((year - selectedOption2) <= 9) {
        nineyo.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
        
      } else if ((year - selectedOption2) <= 12) {
        twelveyo.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
        
      } else if ((year - selectedOption2) <= 15) {
        fifteenyo.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
        
        } else if ((year - selectedOption2) <= 17) {
        seventeenyo.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
          
        } else if ((year - selectedOption2) <= 18) {
        eightteenyo.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
      } else {
        all.forEach(function(el) {
          let option = new Option(el, el);

          beltSelect.appendChild(option);
        });
      }
    });
  </script>

{% endblock %} 