{% extends "base.html" %}

{% block content %}
    <h2 class="list-title">Pesaje</h2>
    <div class="pesaje">
        <h3>Torneo con kimono</h3>
        <p>Una hora antes de que la categoria del atleta empieze, el atleta comprobará su peso con el kimono. Sólo hay una oportunidad para comprobar el peso. Si el competidor no cumple con su peso, será inmediatamente descalificado. Por favor, asegúrese de que está en la división de peso correcta. No se puede cambiar de división, si no llega al peso designado. No se aceptarán cambios en el día del torneo, no habrá reembolso.</p>
        <p>Revise en la informacion del torneo las medidas de peso oficiales utilizadas en el torneo</p>
        <p>Todos los atletas deben luchar y pesarse con el uniforme kimono. </p>
    </div>
    <div class="pesaje">
        <h3>Torneo No-Gi</h3>
        <p>Una hora antes de que la categoria del atleta empieze, el atleta comprobará su peso con el kimono. Sólo hay una oportunidad para comprobar el peso. Si el competidor no cumple con su peso, será inmediatamente descalificado. Por favor, asegúrese de que está en la división de peso correcta. No se puede cambiar de división, si no llega al peso designado. No se aceptarán cambios en el día del torneo, no habrá reembolso.</p>
        <p>Revise en la informacion del torneo las medidas de peso oficiales utilizadas en el torneo</p>
        <p>Todos los atletas deben luchar y pesarse con el uniforme No-Gi. </p>
    </div>
{% endblock %} 